$main-font: 'Montserrat';
$secondary-font: 'Kaushan Script';
$third-font: 'Roboto';
$first-text-color: #ffffff;
$second-text-color: #333333;
$third-text-color: #999999;
$first-hover-color: #fce38a;
$first-hover-color-transparent: rgba(252, 227, 138, 0);
$primal-color: #f38181;
$secondary-primal-color: #95e1d3;
$first-gradient-overlay: linear-gradient(rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9));
$second-gradient-overlay: linear-gradient(0deg,
  rgba(240, 226, 144, 0.9) 0%,
  rgba(234, 140, 139, 0.9) 100%);
